/*remove update*/
.carousel-caption {
    font-size: 14px;
}
.cash_btns .csr_btns img {
    height: 40px;
}

.tg-section-container{
    overflow-y: hidden !important;
}

.ava_height_auto .slimScrollDiv{
	height: 50px !important;
}

.ava_height_auto .tg-container-scroll{
	height: 50px !important;
}

.ava_height_auto .slimScrollBar{
	display: none !important;
}


/*event security*/
.ava_height_auto_event .slimScrollDiv{
	height: 20px !important;
}


.ava_height_auto_event .tg-container-scroll{
	height: 20px !important;
}

.elementor-widget:not(:last-child){
	margin-bottom: 0px !important;
}

input.wpcf7-submit{
	width: initial;
}

.tg-news-slider .carousel-inner .carousel-item img.w-100{
	height: 280px;
}

.elementor-widget-transguard-elementor-tg-services-tab .csr_btns{
	margin-bottom: 30px;
}
.elementor-widget-transguard-elementor-tg-services-tab .csr_btns:hover{
	color: initial;
}

.elementor-widget-transguard-elementor-tg-services-tab svg.replaced-sub-svg{
	margin-bottom: 5px !important;
}

/*responsiveness*/

@media screen and (max-width: 768px){
	.careers_banner_tg.elementor-section.elementor-section-height-full {
    height: 100vh !important;
}
	
	.careers_banner_tg.elementor-section.elementor-section-height-full>.elementor-container {
    height: 100% !important;
}
	
	.careers_banner_tg .elementor-column.elementor-col-100, .elementor-column[data-col="100"] {
    width: 100%;
}
	
}

@media screen and (max-width: 991px){
    .tg-news-container{
        max-width: initial;
        width: 100%;
    }
	
	.myCarousel .carousel-caption .caption-desc-tg{
		color: #fff !important;
	}
}

@media screen and (max-width: 767px){
	.adding_overlay{
		background-image: none !important;
		
	}
	
	.overlay_space{
		display: none !important;
	}
	
	
	
	.tg_section_mobile{
		margin: 0 !important;
	}
	
	.tg_section_mobile .elementor-widget-container{
		margin: 0 !important;
	}
	
	.new_ser{
		padding-bottom: 3rem !important;
		padding-top: 3rem !important;
	}
	
	.mb-gray-bg .bg-white-tg{
		background: #f0f0f0!important;
	}
	
	.video_column .elementor-element-populated{
		padding: 15px !important;
	}
}


.tabs li:nth-child(9n){
	border-left: 1px solid #f0f0f0;
}

.tabs li:nth-child(10n){
	border-left: none;
}

.carousel-caption .text {
    padding-top: 3em!important;
}

@media only screen and (min-width: 992px){
	.dropdown-content{
		min-width: 200px;
	}
}

main.content{
	overflow-x: hidden;
}

/* footer widget3 title */
.footer-widget-3 h3{
	display: none!important;
}
@media (min-width: 576px){
	.footer-widget-3 h3 {
			display: block!important;
	}	
}
/*  */

.select-dropdown select{
	width: 100% !important;
	position: relative;
    z-index: 2;
}

/*additional css - 27-12-2020*/
@media screen and (max-width: 767px){
	ul.sub-menu.dropdown-content.drop-tg{
		background-color: #f0f0f0;
	}
	.dropdown-content li.has-submenu ul{
		background-color: #f7f7f7;
	}
}


span.tick-mark {
    position: relative;
    margin-left: 15px;
}

span.tick-mark:before {
    content: '✔';
    color: #e01f25;
    font-size: 1.2em;
    background: 0 0;
    position: absolute;
    left: -20px;
    top: -4px;
}


/*career responsiveness*/
@media screen and (max-width: 767px){
/* 	.career_column1 .elementor-element-populated{
		padding: 15px !important;
		margin-bottom: 0px;
	} */
}

/*11-12-2021*/
input[type="radio"]{
	width: 13px;
	height: 13px;
}

@media screen and (max-width: 500px){
	.navbar-brand img{
		height:  80px;
	}
}

@media screen and (max-width: 768px){
	.thankuintrest_banner_tg{
		padding-top: 40%;
		padding-bottom: 3rem;
	}
	
	.thankuintrets_title{
		margin-bottom: 20px;
	} h5 {
		text-align: center;
	}
	
	.thankuintrest_subtitile h5 {
		text-align: center;
	}
	
	.thankuintrest_form{
		margin: 0 auto;
		width: 100% !important;
		max-width: 100% !important;
	}
	
	.thankuintrest_br{
		display: none;
	}
	
	.elementor-3025 .elementor-element.elementor-element-6030687f{
		padding-top: 22%;
	}
	
	.hidden-xs{
		display: none;
	}
}

/*styles on 23-05-2021*/
@media screen and (max-width: 567px){
	.career_column2 .elementor-column-wrap{
	width: 95%;
}
	.elementor-3025 .elementor-element.elementor-element-6030687f{
		padding-top: 32%;
	}
	
	.hidden-xs{
		display: none;
	}
	
}



input[type=date]:required:invalid::-webkit-datetime-edit {
    color: transparent;
}
input[type=date]:focus::-webkit-datetime-edit {
    color: black !important;
}

.elementor-image-box-title{
	font-family: emirates_sbemirates_sb !important
}

.doc_box{
	-webkit-box-shadow: 0px 40px 140px 0px rgb(171 181 189 / 40%);
	box-shadow: 0px 40px 140px 0px rgb(171 181 189 / 40%);
	-moz-box-shadow: 0px 40px 140px 0px rgb(171 181 189 / 40%);
	-o-box-shadow: 0px 40px 140px 0px rgb(171 181 189 / 40%);
	border-radius: 5px;
}

.file_required_label{
	top: -30px;
    font-size: 18px;
    color: #333;
}

.inpa24{
	padding-top: 24px
}

.inpa19{
	padding-top: 19px
}

.select-dropdown select{
	font-weight: 400;
}

.mb-5-rem{
	margin-bottom: 5rem!important;
}

.mb-1-rem{
	margin-bottom: 1rem!important;
}

.mb-2-rem{
	margin-bottom: 2rem!important;
}


/*checkbox*/
.wpcf7-checkbox label{
	position: initial !important;
	top: initial !important;
	left: inline !important;
}

.wpcf7-checkbox input{
	width: initial;
	display: inline-block
}

.checkbox_label_tg{
	position: initial !important;
	margin-bottom: 20px;
}

.i_understand_div .wpcf7-list-item{
	margin-left: 0;
}

ul.tick-list.terms_ul{
	padding-left: 10px;
}

.tg-team-section .tg-team-image-span:nth-child(3){
	clear: both;
}


.codedropz-upload-inner h3{
	font-size: 20px;
}

@media screen and (max-width: 767px){
	.codedropz-upload-inner h3{
		font-size: 18px;
	}
}


/**new form designs**/
.internal-vacancies-form input:not(input[type=radio], input[type=checkbox], input[type=file], input[type=submit]){
	display: block;
    width: 100%;
    border-radius: 0;
    height: 47px;
    padding: 0 15px;
    color: #000;
    font-size: 13px;
    border: none;
    background: #f7f7f7;
/* 	border: 1px solid #e6e6e6; */
    
}

.internal-vacancies-form input::focus{
	border: 1px solid #e6e6e6 !important;
}

.internal-vacancies-form select{
	display: block;
    width: 100%;
    border-radius: 0;
    height: 47px;
    padding: 0 15px;
    color: #000;
    font-size: 13px;
    border: none;
    background: #f7f7f7;
	
    
}

.internal-vacancies-form select:focus{
	border: 1px solid #e6e6e6;
}

.internal-vacancies-form input[type=file]{
	display: block;
    width: 100%;
    border-radius: 0;
    height: 56px;
    padding: 15px 15px;
    color: #000;
    font-size: 13px;
    border: none;
    background: #f7f7f7;
}

.internal-vacancies-form input[type=file]:focus{
	border: 1px solid #e6e6e6;
}

.internal-vacancies-form textarea{
	display: block;
    width: 100%;
    border-radius: 0;
    height: auto;
    padding: 10px 15px;
    color: #000;
    font-size: 13px;
    border: none;
    background: #f7f7f7;
}

.internal-vacancies-form textarea::focus{
	border: 1px solid #e6e6e6 !important;
}

.internal-vacancies-form textarea::visited{
	border: 1px solid #e6e6e6 !important;
}

.internal-vacancies-form textarea::active{
	border: 1px solid #e6e6e6 !important;
}

.internal-vacancies-form input::-webkit-input-placeholder { 
		font-size: 12px;
		color: #808080;
	}
	.internal-vacancies-form input::-moz-placeholder { 
		font-size: 12px;
		color: #808080;
	}
	.internal-vacancies-form input:-ms-input-placeholder { 
		font-size: 12px;
		color: #808080;
	}
	.internal-vacancies-form input:-moz-placeholder { 
		font-size: 12px;
		color: #808080;
	}


.internal-vacancies-form textarea::-webkit-input-placeholder { 
		font-size: 12px;
		color: #808080;
	}
	.internal-vacancies-form textarea::-moz-placeholder { 
		font-size: 12px;
		color: #808080;
	}
	.internal-vacancies-form textarea:-ms-input-placeholder { 
		font-size: 12px;
		color: #808080;
	}
	.internal-vacancies-form textarea:-moz-placeholder { 
		font-size: 12px;
		color: #808080;
	}

.internal-vacancies-form label{
	position: initial;
	font-size: 14px;
	font-weight: 500;
}

.internal-vacancies-form .radio{
	display: flex;
	
}

.internal-vacancies-form .radio input{
	display: inline-block;
}

.internal-vacancies-form .wpcf7-not-valid-tip{
	font-size: 12px;
    
}

.wpcf7-not-valid-tip{
	font-size: 12px;
}

.internal-vacancies-form .col-md-6, .internal-vacancies-form .col-md-12{
	margin-bottom: 25px;
}


.internal-vacancies-form div[data-class=wpcf7cf_group]{
	width: 100%;
}

.mb-4{
	margin-bottom: 4rem;
}

.small-text{
	font-size: 10px;
}

.upload_cv_label{
	margin-top: -40px;
}

.tg-upload-cv-container{
	margin-top: 15px;
}

.page-id-495 [data-class="wpcf7cf_group"]{
	width: 100%;
    margin-bottom: 1.5rem;
}

.tg-security-available-downloads section{
	padding-bottom: 120px !important;
}

.intl-tel-input ul.country-list{
	z-index: 9;
}



.wrapper-dropdown-3 .dropdown{
	    height: 194px;
    overflow-y: auto;
}


.elementor-311 .elementor-element.elementor-element-a773237 > .elementor-element-populated > .elementor-widget-wrap {
    padding: 0px 0px 0px 20px !important;
}

.elementor-311 .elementor-element.elementor-element-d3ab3cd > .elementor-element-populated > .elementor-widget-wrap {
    padding: 0px 20px 0px 0px !important;
}

.elementor-179 .elementor-element.elementor-element-d9b2a0a > .elementor-element-populated > .elementor-widget-wrap {
    padding: 0px 0px 0px 20px !important;
}

.elementor-179 .elementor-element.elementor-element-2d1ce24 > .elementor-element-populated > .elementor-widget-wrap {
    padding: 0px 20px 0px 0px !important;
}

.elementor-536 .elementor-element.elementor-element-023b772 > .elementor-element-populated > .elementor-widget-wrap {
    padding: 0px 0px 0px 30px !important;
}

input[type="radio"]{
	display: inline-block;
}

[data-class="wpcf7cf_group"]{
	width: 100% !important;
}

@media screen and (min-width: 767px){
	.elementor-345 .elementor-element.elementor-element-6b90393 > .elementor-element-populated > .elementor-widget-wrap{
	padding: 0px 0px 0px 20px !important;
}
}

/*olymbics rsvp stylels**/
.page-id-5831 .wpcf7-response-output, .page-id-5841 .wpcf7-response-output{
	margin: 0 !important;
}

.intl-tel-input .highlight.country{
	position: initial !important;
    height: initial !important;
    width: initial !important;
    top: initial !important;
    left: initial;
    pointer-events: initial !important;
    opacity: initial !important;
}

.intl-tel-input.separate-dial-code .selected-flag{
	background-color: transparent;
}